*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: linear-gradient(to right bottom, #075f08, #046317, #016622, #006a2c, #006d36, #00703f, #007448, #007750, #007a5a, #007d63, #00806c, #008375); 
    color: white; 
    background-repeat: no-repeat; 
    min-height: 100vh;
}
section {
  border: 3px solid green;
  margin-top: 10px;
  padding: 10px;
  border-radius: 3cap;
  margin: 0 auto;
}
label {
  margin-top: 5px;
}
h2{
  text-align: center; 
}
h3 {
  color: white;
  background-color: green;
  padding: 3px;
  border-radius: 5cap;
  text-align: center;
}
h4 {
  margin-top: 1px;
  margin-bottom: 0px;
  font-style: italic;
  font-weight: normal;
  color: seagreen;
}
button {
  margin-top: 10px;
  background-color: green;
  color: white;
  border-radius: 1cap;
  padding: 5px;
}
input {
  width: 100px;
}
table,
th,
td {
  border: 1px solid black;
  text-align: center;
}
#empleadoForm {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 250px;
}
#mainForm {
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: center;
}
.colCurrency {
  text-align: right;
  padding-left: 10px;
}
.colNumber {
  column-width: 50px;
}
.colText {
    column-width: 50px;
}
.divSalida {
  display: flex;
  flex-direction: column;
}